__pycache__
*/__pycache__
.DS_Store
.ipynb_checkpoints/


darwin-x86_SDDSPython3.6
out*.ipynb
manual
benchmark/*
!benchmark/Benchmark1-SASE
!benchmark/Benchmark4-UndErrors
!benchmark/VISA-Gaussian-Seed
slicefile-to-hdf5.ipynb